<h1>All Articles</h1>

<ul id="articles"> 
	<% @articles.each do |a|%>
	 <li><%= link_to a.title, article_path(a), class: 'article_title' %></li>
	 <% end %>	
</ul>
<% if logged_in? %>
<%= link_to 'Create a New Article', new_article_path, class: 'new_article' %>
<% end %>
<p><br /></p>
<h2 style="font-size: 30px"><%= link_to 'All tags', tags_path %></h2>